/* diagnostic styling */


/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: black;
    justify-content: center;
    height: 50px;
    background-size: cover;
}

body h1 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: darkred;
}

#programs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    row-gap: 20px;
    column-gap: 15px;
    margin: 3em; 
    background-image: url("udistrictresized.jpg");
  }


/* scene */
.scene {
    width: 250px;
    height: 350px;
    /* space between card-scenes */
    margin: 10px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;
    transition: transform 1s ease-in;

    /* preserve child 3d   */
    transform-style: preserve-3d;
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

.front{
    background: darkred;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.front h2{
    padding: 15px;
    color: white;
}

.back {
    background: black;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    /* flip it default   */
    transform: rotateY(180deg);
}

.back p {
    padding: 15px;
    color: white;
}

.front h3 {
    padding: 15px;
    color: white;
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}
